/* Reset some default styles */
body, h1 {
    margin: auto;
    padding: auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    font-family:"Audiowide", sans-serif;
    font-size: 1-px;
    
}

.background {
    margin: 0%;
    padding: 0%;
    background-image: url(./IMG_9427.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed;
    height: 100vh;
   
}

.row {
    display: flex;
    height: 88vh;
    align-items: center;
}

.col {

flex-basis: 50px;
}


h1::first-letter {
    position: relative;
    font-size: 120px;
    color: rgba(240, 198, 82, 0.904);
   
}


h1 {
    padding: 5%;
    position: relative;
    font-size: 65px;
    color: rgb(22, 16, 16);
   
}

h2{
    font-style: oblique;
    padding-left: 30px;
    font-size: 20px;
    font-stretch: extra-condensed;
    color: rgb(3, 2, 2);
}


h3::first-letter {
    position: relative;
    font-size: 120px;
    color: rgba(240, 198, 82, 0.904);
   
}
h3 {
    padding: 5%;
    position: relative;
    font-size: 65px;
    color: rgb(0, 0, 0);
   
}

button {
    margin: 30px;
    padding: 10px;
    width: 150px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    padding: 12px 0;
    background: #e4c82d;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.gallery img {
   
    max-width: 100%;
    height: auto;
    border: 5px solid #e4e9e9;
    border-radius: 10px;
}


.gallery1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.gallery1 img {

    max-width: 100%;
    height: auto;
    border: 5px solid #e4e9e9;
    border-radius: 10px;
}


.gallery2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.gallery2 img {

    max-width: 100%;
    height: auto;
    border: 5px solid #e4e9e9;
    border-radius: 10px;
}

.gallery3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.gallery3 img {

    max-width: 100%;
    height: auto;
    border: 5px solid #e4e9e9;
    border-radius: 10px;
}
